
<div class="map-popup">
  <%= link_to spot_path(spot) do %>
    <div class="map-restaurant-image">
      <%= image_tag("#{spot.thumbnail}")%>
    </div>
  <% end %>

    <div class="map-restaurant-details">
      <div class="map-restaurant-name">
        <h6><%= spot.name %></h6>
      </div>
      <div class="map-restaurant-location">
        <p><%= spot.suburb %>, <%= spot.city %></p>
      </div>
    </div>

    <!-- Icon -->
    <div class="spot-card-icon">
      <div id="w<%= spot.id %>" >
        <%= render 'shared/bookmark_icon', spot: spot %>
      </div>
    </div>

</div>
