
<div class="map-restaurant-card">
  <%= link_to spot_path(spot) do %>
    <div class="map-restaurant-image">
      <%= image_tag("#{spot.images.first.image}")%>
    </div>
  <% end %>

    <div class="map-restaurant-details">
      <div class="map-restaurant-name">
        <h6><%= spot.name %></h6>
      </div>
      <div class="map-restaurant-location">
        <%= spot.address.gsub(/ VIC \d{4}?/,'') %>
      </div>
    </div>

    <!-- Icon -->
    <div class="spot-card-icon">
      <div id="w<%= spot.id %>" >
        <%= render 'shared/bookmark_icon', spot: spot %>
      </div>
    </div>

</div>
