<div style="position: relative;">

  <!-- Dual buttons -->

  <%= render "list_type" %>

  <!-- Search Bar -->

  <div class="container pt-3">
    <%= render('search/search_form', search_type: 'my_spots', placeholder: 'All my spots') %>
  </div>

  <br>

  <!-- Map -->

  <div id="map" class="my-map"
      style="width: 100%; height: 79%; position: fixed; bottom: 0"

      data-markers-favourite="<%= @markers_favourite.to_json %>"
      data-markers-wishlist="<%= @markers_wishlist.to_json %>"
      data-marker-user="<%= @marker_user.to_json %>"
      data-marker-user-avatar="<%= @marker_user_avatar %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
