<%= render "shared/navbar" %>

<!-- Favourites and Wishlist buttons -->

<%= render "list_type" %>

<!-- Search Bar -->

<div class="grey-search-bar">
  <%= render('search/search_form', search_type: 'my_spots', placeholder: 'Search My Bottle') %>
</div>
<div id="search-results" class="search-results">
</div>

<!-- Map -->

<div id="map" class="my-map"
    style="width: 100%; height: 100%; position: absolute;"
    data-markers-favourite="<%= @markers_favourite.to_json %>"
    data-markers-wishlist="<%= @markers_wishlist.to_json %>"
    data-marker-user="<%= @marker_user.to_json %>"
    data-marker-user-avatar="<%= @marker_user_avatar %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
