<div class="spot-card mx-auto">
  <%= link_to spot_path(spot) do %>
    <!-- Image -->
    <div class=spot-image>
      <%= image_tag("#{spot.thumbnail}")%>
    </div>
    <!-- Text -->
    <div class="spot-details">
      <div class="spot-name">
        <%= spot.name %>
      </div>
      <div class="spot-location">
        <p><%= spot.suburb %>, <%= spot.city %></p>
      </div>
    </div>
  <% end %>
  <!-- Icon -->
  <div class="spot-card-icon">
    <div id="w<%= spot.id %>" >
      <%= render 'shared/bookmark_icon', spot: spot %>
    </div>
  </div>
</div>
