<div class="spot-card mx-auto">

  <%= link_to spot_path(spot) do %>

    <!-- Image -->

    <div class=spot-image>
      <%= image_tag("#{spot.images.first.image}")%>
    </div>

    <!-- Text -->

    <div class="spot-details">
      <div class="spot-name">
        <%= spot.name %>
      </div>
      <div class="spot-location">
        Suburb, City
        <!-- Code this! -->
      </div>
    </div>

  <% end %>

  <!-- Icon -->
  <div class="spot-card-icon">
    <% if user_signed_in? %>
      <div id="w<%= spot.id %>" >
        <%= render 'wishlists/bookmark', spot: spot %>
      </div>
    <% end %>
  </div>

</div>
