<div class="spot-show-wrapper">
  <%= render 'spots/show/spot-show-banner' %>

  <!-- Been there -->

  <div class="simple-button-container">
    <div id="<%= @spot.id %>" >
      <%= render 'shared/been_there_icon', spot: @spot %>
    </div>
  </div>

  <!-- Spot details -->

  <div class="info d-flex justify-content-around px-3 m-3">
    <%= link_to "Menu", "#", data: { toggle: "modal", target: "#menuModal" } %>
    <%= render 'spots/show/spot-show-menu-modal' %>
    <%= link_to "Information", "#", data: { toggle: "modal", target: "#infoModal" } %>
    <%= render 'spots/show/spot-show-modal' %>
    <%= link_to "Photos", "#", data: { toggle: "modal", target: "#photoModal" } %>
    <%= render 'spots/show/spot-show-photo-modal' %>
  </div>
  <% unless @spot.latitude.nil? %>
    <div>
      <%= render 'spots/show/spot-show-map' %>
    </div>
  <% end %>
  <div class="container">
    <!-- Number of reviews -->
    <div id="num-review">
      <%= render('spots/show/spot-show-num-reviews', total: @spot.reviews.count) %>
    </div>
    <!-- Listing reviews -->
    <%= render 'spots/show/spot-show-reviews-list' %>
    <!-- Review form -->
    <div id="review-form">
      <%= render 'spots/show/spots-show-review-form', review: @review %>
    </div>
  </div>
</div>
