<div class="spot-show-wrapper">

  <%= render 'spots/show/spot-show-banner' %>

  <!-- Been there -->

  <div class="simple-button-container">
    <div id="<%= @spot.id %>" >
      <%= render 'shared/been_there_icon', spot: @spot %>
    </div>
  </div>

  <!-- Menu -->

  <div class="simple-button m-3">
    <%= link_to "Menu", "#", data: { toggle: "modal", target: "#menuModal" } %>
    <%= render 'spots/show/spot-show-menu-modal' %>
  </div>


  <div class="container">
    <!-- Number of reviews -->
    <div id="num-review">
      <%= render('spots/show/spot-show-num-reviews', total: @spot.reviews.count) %>
    </div>
    <!-- Listing reviews -->
    <%= render 'spots/show/spot-show-reviews-list' %>
    <!-- Review form -->
    <div id="review-form">
      <%= render 'spots/show/spots-show-review-form', review: @review %>
    </div>
  </div> -->
</div>
