<div class="spot-show-wrapper">
  <%= render 'spots/show/spot-show-banner' %>
  <div class="info d-flex justify-content-around p-3 m-3">
    <%= link_to "Menu" %>
    <%= link_to "Information", "#", data: { toggle: "modal", target: "#infoModal" } %>
    <!-- Modal -->
    <%= render 'spots/show/spot-show-modal' %>
    <%= link_to "Photos" %>
  </div>

  <div class="container">

    <div class="book-rating">
      <span class="review-count">
        <% if @spot.reviews.any? %>
          <%= link_to pluralize(@spot.reviews.count, 'review'), "#reviews"  %>
        <% else %>
          <span class="no-rating">no reviews</span>
        <% end %>
      </span>
      <div id="reviews-anchor"></div>
    </div>

    <!-- showing reviews -->

    <div id="reviews-container">
      <h5>Reviews</h5>
      <div id="reviews"></div>
      <% if @spot.reviews.any? %>
          <%= render @spot.reviews %>
      <% else %>
        <p>This book doesn't have any reviews yet.</p>
      <% end %>
    </div>

    <!-- Showing form -->
    <section class="spot-section">
      <% if user_signed_in? %>
        <%= render 'reviews/form' %>
      <% end %>

    </section>
  </div>
</div>


