<div class="spot-show-wrapper">
  <%= render 'spots/show/spot-show-banner' %>
  <div class="info d-flex justify-content-around px-3 m-3">
    <%= link_to "Menu" %>
    <%= link_to "Information", "#", data: { toggle: "modal", target: "#infoModal" } %>
    <!-- Modal -->
    <%= render 'spots/show/spot-show-modal' %>
    <%= link_to "Photos" %>
  </div>

  <%= render 'spots/show/spot-show-map' %>

  <div class="container">
    <!-- Number of reviews -->
    <div id="num-review">
      <%= render('spots/show/spot-show-num-reviews', total: @spot.reviews.count) %>
    </div>
    <!-- Listing reviews -->
    <%= render 'spots/show/spot-show-reviews-list' %>
    <!-- Review form -->
    <%= render 'spots/show/spots-show-review-form' %>

  </div>
</div>


