<%= render 'shared/navbar' %>
<div class="spot-show-wrapper">
  <%= render 'spots/show/spot-show-banner' %>
  <div class="info d-flex justify-content-around p-3 m-3">
    <%= link_to "Menu" %>
    <%= link_to "Information" %>
    <%= link_to "Photos" %>
  </div>

  <div class="container" style="height: 500px">
    <%= render 'spots/show/spot-show-reviews' %>
    <%= render 'spots/show/spot-show-reviews' %>
    <%= render 'spots/show/spot-show-reviews' %>
  </div>
</div>
