<% if @reviews.count == 0 %>
  <h2 class="mt-3 pt-3">No reviews yet 😢</h2>
<% else %>
  <% @reviews.each do |review| %>
    <div class="card mt-4 mb-3">
      <% unless review.image.url.blank? %>
          <%= cl_image_tag(review.image, class: "review-image") %>
      <% end %>
      <div class="review-content d-flex align-items-center">
        <div class="review-user">
          <%= cl_image_tag(user_avatar(review.user), class: "avatar mx-3 mt-3") %>
          <p class="review-name mx-3 mt-2"><%= review.user.first_name %></p>
        </div>
        <p class="mx-2 mt-2"><%= review.notes %></p>
      </div>
      <div class="place m-0 p-0">
        <p class="m-0 place" style="background-color: #eee">@ <%= review.spot.name %></p>
      </div>
    <%= link_to spot_path(review.spot), class: "to_spot" do %>
    <% end %>
    </div>
  <% end %>
<% end %>
