<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Asian</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Burger</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Café</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Casual Dining</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Chinese</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Dessert</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">French</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Gluten Free</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Italian</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Japanese</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Spanish</h5>
</div>
<div class="cuisine-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://loremflickr.com/200/200/food/?<%= rand %>)">
  <h5 class="cuisine-text">Thai</h5>
</div>
