<% type = activity.trackable_type %>
<div class="feed-card-container">
<%= link_to spot_path(activity.trackable.spot.id), class: 'feed-card-anchor' do %>
<!-- Who and When -->

  <div class="feed-card-body">
    <%#= cl_image_tag(activity.owner.avatar.url, class: "feed-card-avatar") %>
    <%= cl_image_tag(user_avatar(activity.owner), class: "feed-card-avatar") %>

    <div class="feed-card-text">
      <div class="feed-card-who">
        <p><strong><%= activity.owner.first_name if activity.owner %></strong>
          <% if type == 'Review' %>
            reviewed
          <% elsif type == 'Wishlist' %>
            wants to try
          <% else %>
            has been to <%= activity.trackable.spot.name %>
          <% end %>
        </p>
      </div>
      <div class="feed-card-when">
        <p><%= activity.created_at %></p>
      </div>
    </div>
  </div>

<!-- Content -->

  <div class="feed-card-content">

    <!-- Code the type of post -->

  <% if activity.trackable_type == "Review" %>
    <%= cl_image_tag(activity.trackable.spot.images.first.image, class: 'dark-pic feed-image') %>
    <% else %>
    <%= cl_image_tag(activity.trackable.spot.images.first.image, class: 'feed-image filter-pic') %>
  <% end %>

    <!-- If its a review -->
    <% if activity.trackable_type == "Review" %>

      <div class="feed-card-review">
        <h4><em>"<%= activity.trackable.notes %>"</em></h4>
      </div>
    <% end %>
  </div>
<!-- Spot Information and Icon -->

  <div class="feed-card-body" style="justify-content: space-between;">
     <div class="feed-card-text">
      <h3>
        <strong><%= activity.trackable.spot.name %></strong>
      </h3>
      <p>
        <%= activity.trackable.spot.location %>
      </p>
     </div>

     <div>
      <div id="w<%= activity.trackable.spot.id %>" >
        <%= render "shared/bookmark_icon", spot: activity.trackable.spot %>
      </div>
    </div>
  </div>

<% end %>
</div>


