<div class="feed-card-container">

<!-- Who and When -->

  <div class="feed-card-body">
    <img class="feed-card-avatar" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />

    <div class="feed-card-text">
      <div class="feed-card-who">
        <p><strong><%= activity.owner.first_name %></strong>
          <% if type == review %>
            reviewed
          <% elsif type == wishlist %>
            added to their bottle
          <% else %>
            has been to
          <% end %>
        </p>
      </div>
      <div class="feed-card-when">
        <p><%= activity.created_at %></p>
      </div>
    </div>
  </div>

<!-- Content -->

  <div class="feed-card-content">

    <!-- Code the type of post -->

    <img src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

    <!-- If its a review -->

    <div class="feed-card-review">
      <h4><em>"The bao buns were the best dish, everything else was average"</em></h4>
    </div>
  </div>

<!-- Spot Information and Icon -->

  <div class="feed-card-body" style="justify-content: space-between;">
     <div class="feed-card-text">
      <h3>
        <strong><%= activity.trackable.spot.name %></strong>
      </h3>
      <p>
        <%= activity.trackable.spot.location %>
      </p>
     </div>

     <div>
        <%= render "shared/icons", spot: activity.trackable.spot %>
      </div>
  </div>

</div>


