<script>
  function addSearchTimeStamp() {
    document.getElementById('timestamp').value=Date.now();
  }
</script>
<%= form_tag(search_index_path, method: :get, remote: true, onsubmit: "addSearchTimeStamp()") do %>
  <%= hidden_field_tag :search_type, search_type %>
  <%= hidden_field_tag :timestamp %>
  <div style="position:relative">

    <div class="search-field">
      <i class="fas fa-search search-icon"></i>
      <%= text_field_tag :search, nil, class: "search-text", placeholder: placeholder %>
    </div>


    <% if search_type=="wishlist_spots" || search_type=="favourite_spots" %>

      <!-- <div class='map-back-button'>
        <%= link_to "<i class='far fa-map'></i>".html_safe, lists_path %>
      </div> -->

    <% end %>
  </div>
<% end %>
