<div class="container mb-2 button-key">
  <div>
    <i class="fal fa-utensils new-fontawesome"></i>
    <i class="fas fa-circle spot-dot"></i> All
  </div>
  <div>
    Saved
  </div>
  <div>
    Been There
  </div>
</div>


<div class="info-map">
  <div id="map" class="info-map-map my-map-feed"
    data-markers-spots="<%= @markers_spot.to_json %>"
    data-markers-favourite="<%= @markers_favourite.to_json %>"
    data-markers-wishlist="<%= @markers_wishlist.to_json %>"
    data-marker-user="<%= @marker_user.to_json %>"
    data-marker-user-avatar="<%= @marker_user_avatar %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="info-map-window info-map-window-closed" id="info-map-window">
  </div>
</div>
