
<!-- AJAX for unfollow and follow links -->

<!-- <li data-user=<%= user.id %>>
  <%= user.first_name %>
  <%# if current_user.is_following?(user.id) %>
    <%#= link_to "Unfollow", unfollow_user_path(user.id), method: :post, remote: true %>
  <%# else %>
    <%#= link_to "Follow", follow_user_path(user.id), method: :post, remote: true %>
  <%# end %>
</li> -->

<!-- AJAX for send friend request and cancel friend request -->

<li data-user=<%= user.id %>>
  <%= user.first_name %>
  <% if request = current_user.find_friend_request(user.id) %>
    <%= link_to "Cancel Friend Request", friend_request_path(request, user_id: user.id), method: :delete, remote: true %>
  <% else %>
    <%= link_to "Send Friend Request", friend_requests_path(friend_id: user.id), method: :post, remote: true %>
  <% end %>
</li>



<div class="users-card" style="height: 40px; width: 100%">
  <div class="users-avatar">
    <%= image_tag(user.image, class: "avatar") %>
  </div>
  <div class="users-name">
    <p><%= user.first_name user.last_name %></p>
  </div>
  <div class="users-add-button">
    <i class="fas fa-plus"></i>
  </div>
</div>
