<%= render "shared/navbar" %>

<%= render "lists/list_type" %>


<div class="d-flex flex-column justify-content-center">

  <% @favourites.each do |favourite| %>

    <div class="spot-card">

      <!-- Image -->

      <%= image_tag("#{favourite.spot.image}")%>

      <!-- Text -->

      <div class="spot-details">

        <div class="spot-name">
          <%= favourite.spot.name %>
        </div>

        <div class=spot-location>
          <%#= spot.location[0..20] %>
        </div>

        <div class=spot-description>
          <%= "#{favourite.spot.description[0..20]}..." %>
        </div>
      </div>

    </div>

  <% end %>



</div>
