<nav class="navbar fixed-top">

  <!-- Dropdown -->
<!--   <% unless FriendRequest.where(:friend_id == current_user).empty? %>
    <i id="notification" class="fas fa-circle"></i>
  <% end %> -->
  <div id="mySidenav" class="sidenav">

      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <% if user_signed_in? %>

    <div>

      <%= link_to feeds_path, class: "dropdown-item nav-label" do %>
        <i class="far fa-home-alt pr-3"></i>Home
      <% end %>

      <%= link_to maps_path, class: "dropdown-item nav-label" do %>
        <div class="d-flex">
          <div>
            <i class="far fa-map-marked-alt pr-3"></i>
          </div>
          <div>Map</div>
        </div>
      <% end %>

      <%= link_to discover_index_path, class: "dropdown-item nav-label" do %>
        <i class="far fa-fire-alt pr-3"></i>What's Hot
      <% end %>

      <%= link_to lists_path, class: "dropdown-item nav-label" do %>
        <i class="fal fa-map-marker-alt pr-3"></i>My Spots
      <% end %>

      <div class="add-frined">
        <%= link_to users_path, class: "dropdown-item nav-label" do %>
<!--           <% unless FriendRequest.where(:friend_id == current_user).empty? %>
            <i class="fas fa-circle friend-notification"></i>
          <% end %> -->
          <i class="far fa-user-plus pr-3"></i>Add Friends
        <% end %>
      </div>

      <%= link_to user_path(current_user), class: "dropdown-item nav-label" do %>
        <i class="fal fa-laugh-beam pr-3"></i>My Profile
      <% end %>
    </div>

    <div>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item nav-label" %>
    </div>

    <% else %>

    <div></div>
    <div>
      <%= link_to "Login", new_user_session_path, class: "dropdown-item nav-label" %>
    </div>

    <% end %>
  </div>

  <i class="fas fa-bars navbar-icon" onclick="openNav()"></i>


  <!-- Logo -->

    <div class="navbar-brand">
      <p>katchup</p>
    </div>

  <!-- Add Katchup -->

  <%= link_to catchups_path(section: 'catchups') do %>
    <div>
      <i style="position:relative" class="far fa-calendar-plus navbar-icon <%= 'nav-active' if params[:section] == 'catchups' %>">
        <i id="navbar-catchup-badge" class="catchup-badge hidden"></i>
      </i>
    </div>
  <% end %>

</nav>
