
<nav class="navbar fixed-top navbar-light">

    <!-- Dropdown -->

  <div id="menuToggle">

    <input type="checkbox" id="menu-checkbox" />
      <label class="menu-overlay" for="menu-checkbox"></label>
      <span></span>
      <span></span>
      <span></span>
    <ul id="menu">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Discover", discover_index_path, class: "" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Bottle", lists_path%>
        </li>
        <li class="nav-item">
          <%= link_to "My Friends", friendships_path%>
        </li>
        <li class="nav-item">
          <%= link_to "People", "users"%>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>

      <!-- If not logged in -->

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>

    </ul>
  </div>

  <!-- Logo -->

  <%= link_to feeds_path(section: 'feeds') do %>
    <div class="navbar-brand">
      <p>katchup</p>
    </div>
  <% end %>

  <!-- Add Katchup -->

  <%= link_to catchups_path(section: 'catchups') do %>
    <div>
      <i class="far fa-calendar-plus navbar-icon <%= 'nav-active' if params[:section] == 'catchups' %>"></i>
    </div>
  <% end %>

</nav>

