
<nav class="navbar fixed-top">

  <!-- Dropdown -->

  <div class="nav-item dropdown">
    <a id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bars navbar-icon"></i>
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

      <% if user_signed_in? %>

        <%= link_to "News Feed", feeds_path, class: "dropdown-item" %>
        <%= link_to "Discover", discover_index_path, class: "dropdown-item" %>
        <%= link_to "My Collection", lists_path, class: "dropdown-item" %>
        <%= link_to "Find Friends", users_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

      <% else %>

        <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>

      <% end %>
    </div>
  </div>

  <!-- Logo -->

    <div class="navbar-brand">
      <p>katchup</p>
    </div>

  <!-- Add Katchup -->

  <%= link_to catchups_path(section: 'catchups') do %>
    <div>
      <i class="far fa-calendar-plus navbar-icon <%= 'nav-active' if params[:section] == 'catchups' %>"></i>
    </div>
  <% end %>

</nav>

