
<nav class="navbar fixed-top">

  <!-- Dropdown -->

  <div id="mySidenav" class="sidenav">

      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <% if user_signed_in? %>

      <%= link_to feeds_path, class: "dropdown-item nav-label" do %>
        <i class="material-icons pr-1">home</i>Home
      <% end %>

      <%= link_to discover_index_path, class: "dropdown-item nav-label" do %>
        <i class="material-icons pr-1">whatshot</i> What's Hot
      <% end %>

      <%= link_to lists_path, class: "dropdown-item nav-label" do %>
        <i class="material-icons pr-1">room</i> My Spots
      <% end %>

      <%= link_to users_path, class: "dropdown-item nav-label" do %>
        <i class="material-icons pr-1">group_add</i> Add Friends
      <% end %>

      <div class="dropdown-divider"></div>

      <%= link_to user_path(current_user), class: "dropdown-item nav-label" do %>
        <i class="material-icons pr-1">face</i> My Profile
      <% end %>

      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item nav-label" %>

    <% else %>

      <%= link_to "Login", new_user_session_path, class: "dropdown-item nav-label" %>

    <% end %>
  </div>

  <i class="fas fa-bars navbar-icon" onclick="openNav()"></i>


  <!-- Logo -->

    <div class="navbar-brand">
      <p>katchup</p>
    </div>

  <!-- Add Katchup -->

  <%= link_to catchups_path(section: 'catchups') do %>
    <div>
      <i style="position:relative" class="far fa-calendar-plus navbar-icon <%= 'nav-active' if params[:section] == 'catchups' %>">
        <i id="catchup-navbar-badge" class="hidden"></i>
      </i>
    </div>
  <% end %>

</nav>
