<nav class="navbar fixed-top">

  <!-- Dropdown -->
<!--   <% unless FriendRequest.where(:friend_id == current_user).empty? %>
    <i id="notification" class="fas fa-circle"></i>
  <% end %> -->

  <div id="mySidenav" class="sidenav">

      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <% if user_signed_in? %>

    <div>

      <%= link_to lists_path, class: "dropdown-item nav-label" do %>
        <div class="d-flex">
          <i class="far fa-map-marker-alt pr-3" style="width: 40px"></i>
          <p class="m-0">Saved Spots</p>
        </div>
      <% end %>

      <div class="add-frined">
        <%= link_to users_path, class: "dropdown-item nav-label" do %>
<!--           <% unless FriendRequest.where(:friend_id == current_user).empty? %>
            <i class="fas fa-circle friend-notification"></i>
          <% end %> -->
          <div class="d-flex">
            <i class="far fa-user-plus pr-3" style="width: 40px"></i>
            <p class="m-0">Friends</p>
          </div>
        <% end %>
      </div>

      <%= link_to user_path(current_user), class: "dropdown-item nav-label" do %>
        <div class="d-flex">
          <i class="far fa-laugh-beam pr-3" style="width: 40px"></i>
          <p class="m-0">Profile</p>
        </div>
      <% end %>
    </div>

    <div>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item nav-label" %>
    </div>

    <% else %>

    <div>
      <%= link_to "Login", new_user_session_path, class: "dropdown-item nav-label" %>
    </div>

    <% end %>
  </div>

  <i class="far fa-bars navbar-icon" onclick="openNav()"></i>


  <!-- Logo -->
  <%= link_to feeds_path do %>
    <div class="navbar-brand">
      <p>katchup</p>
    </div>
  <% end %>

  <!-- Add Katchup -->

  <%= link_to maps_path do %>
    <div>
      <i style="position:relative" class="fal fa-map navbar-icon <%= 'nav-active' if params[:section] == 'maps' %>">
        <i id="navbar-catchup-badge" class="catchup-badge hidden"></i>
      </i>
    </div>
  <% end %>

</nav>
