<div class="card border-0">
  <div class="show-banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= @spot.images.first.image %>);">
    <%= link_to :back do %>
      <i class="fas fa-chevron-circle-left back-btn"></i>
    <% end %>
    <div class="show-banner-content d-flex flex-column align-items-center">

      <h1 ><%= @spot.name %></h1>
      <div id="show-underline"></div>

      <div id="w<%= spot.id %>" >
        <%= render 'shared/bottle_icon', spot: @spot %>
      </div>

      <div id="average-rating">
        <%= render 'spots/show/spot-show-average-rating', average: @spot.average_rating %>
      </div>
    </div>
  </div>
</div>
