<div class="card border-0">
  <div class="show-banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= @spot.image %>);">
    <div class="show-banner-content d-flex flex-column align-items-center">

      <h1 ><%= @spot.name %></h1>
      <div id="show-underline"></div>
        <% if user_signed_in? %>
          <div class="heart-book d-flex justify-content-center">
            <div class="m-2" id="<%= @spot.id %>" >
              <%= render 'favourites/heart', spot: @spot %>
            </div>
            <div class="m-2" id="w<%= @spot.id %>" >
              <%= render 'wishlists/bookmark', spot: @spot %>
            </div>
          </div>
        <% end %>
      <div id="average-rating">
        <%= render 'spots/show/spot-show-average-rating', average: @spot.average_rating %>
      </div>
    </div>
  </div>
</div>
