<div class="mb-3 border-bottom">

  <!-- Organiser -->

  <div class="catchup-card-top">
    <% if others == true %>

      <div class="d-flex align-items-center">
        <div class="catchup-card-organiser">
          <%= cl_image_tag("#{User.find(catchup.user_id).avatar}") %>
        </div>
        <p><strong><%= User.find(catchup.user_id).first_name %></strong>
           invited you to:</p>
      </div>

      <% else %>
        <p>You organised:</p>
    <% end %>

  </div>

  <!-- Place and time -->

  <div class="feed-card-content">
    <%= image_tag("#{catchup.spot.images.first.image}", class: "dark-pic feed-image") %>

    <div class="catchup-card-spot-name">
      <h3>
        <%= catchup.spot.name %>
      </h3>
      <h5>
        <%= catchup.time.strftime("%A %-d %b %Y %l:%M%p") %>
      </h5>
    </div>

  </div>

  <!-- Guests -->

  <div class="catchup-card-guests">
    <% catchup.guests.each do |guest| %>
      <div>
        <div class="catchup-card-guest">
          <%= cl_image_tag("#{guest.user.avatar}") %>
          <% if guest.pending? %>
            <i style="color: orange" class="fas fa-question"></i>
          <% end %>
          <% if guest.accepted? %>
            <i style="color: green"  class="fas fa-check"></i>
          <% end %>
          <% if guest.declined? %>
            <i style="color: red" class="fas fa-times"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
