<% @friends.each do |friend|%>
  <div class="modal-content-card">
    <div>
      <%= cl_image_tag("#{friend.avatar}", id: "image_friend_#{friend.id}") %>
    </div>
    <div class="modal-content-card-details">
      <%= friend.first_name %>
      <%= friend.last_name %>
      <div id="button_friend_<%= friend.id %>" class="modal-add-button-friend"><i class="fas fa-plus-circle"></i></div>
      <%= hidden_field_tag "friend[#{friend.id}]" %>
    </div>
  </div>
<% end %>
