<% catchup = Catchup.find(guest.catchup_id) %>

<div class="border-bottom" id="<%= id %>">

  <!-- Guest response heading: -->

  <div class="catchup-card-top">
    <div class="d-flex align-items-center">
      <div class="catchup-card-organiser">
        <%= cl_image_tag("#{guest.user.avatar}") %>
      </div>
      <p><strong><%= User.find(guest.user_id).first_name %></strong>

        <% if guest.accepted? %>
          <strong class="accepted-text"> accepted</strong> your invitation to:
        <% end %>

        <% if guest.declined? %>
          <strong class="declined-text"> declined</strong> your invitation to:
        <% end %>
      </p>
    </div>
  </div>

  <!-- Place and time -->

  <div class="catchup-response-content">
    <%= image_tag("#{catchup.spot.thumbnail}", class: "dark-pic feed-image") %>

    <div class="catchup-card-spot-name">
      <h3>
        <%= catchup.spot.name %>
      </h3>
      <h5>
        <%= catchup.time.strftime("%A %-d %b %Y %l:%M%p") %>
      </h5>
    </div>

  </div>



    <div class="d-flex justify-content-around">
      <div>
        <%= form_tag(catchups_path, method: :get, remote: true) do %>
          <%= hidden_field_tag :guest_response_id, guest.id %>
          <%= hidden_field_tag :response_dismiss %>
          <%= button_tag "Dismiss", class: "btn decline-btn" %>
        <% end %>
      </div>
    </div>
</div>
