<div id="catchup-page" class="container">
  <div class="d-flex justify-content-center">
    <%= link_to new_catchup_path do %>
      <div class="red-button">Organise a Katchup</div>
    <% end %>
  </div>
</div>

<!-- Which type of catchup? Mine or others -->

<div class="d-flex">
  <% mine_active = 'underline-active' if params[:list_type] == 'mine' %>
  <% others_active = 'underline-active' if params[:list_type] == 'others' %>

  <%= link_to "MY KATCHUPS", catchups_path(list_type: 'mine'),
  :class => "button-underline #{mine_active}", style: 'text-decoration: none' %>

  <%= link_to "INVITATIONS", catchups_path(list_type: 'others'),
  :class => "button-underline #{others_active}", style: 'text-decoration: none;' %>
</div>

<!-- Render katchup type page -->

<div class="container">

  <br>

  <% if params[:list_type] == 'mine' %>

    <%= render 'catchups_mine' %>
  <% else %>
    <%= render 'catchups_others' %>
  <% end %>

</div>
