<div id="catchup-page" class="">
  <div class="d-flex justify-content-center">
    <%= link_to new_catchup_path do %>
      <div class="red-button">Organise a Katchup</div>
    <% end %>
  </div>
  <!-- Which type of catchup? Mine or others -->
  <div class="d-flex">
    <% if params[:list_type] == 'others' %>
      <% others_active = 'underline-active'  %>
    <% else %>
      <% mine_active = 'underline-active'  %>
    <% end %>
    <%= link_to catchups_path(list_type: 'mine'),
  class: "button-underline #{mine_active}",
  style: 'text-decoration: none; position: relative;',
  id: 'my-catchup-header' do %>
      MY KATCHUPS
      <i id="my-catchup-badge" class="catchup-badge header hidden"></i>
      <% if params[:list_type] == 'others' %>
        <div id="moving-underline"></div>
      <% end %>
    <% end %>
    <%= link_to catchups_path(list_type: 'others'),
  class: "button-underline #{others_active}",
  style: 'text-decoration: none; position: relative;',
  id: 'other-catchup-header' do %>
      INVITATIONS
      <i id="other-catchup-badge" class="catchup-badge header hidden"></i>
      <% if params[:list_type] == 'mine' %>
        <div id="moving-underline"></div>
      <% end %>
    <% end %>
  </div>
  <!-- Render katchup type page -->
  <br>
  <% if params[:list_type] == 'others' %>
    <%= render 'catchups_others' %>
  <% else %>
    <%= render 'catchups_mine' %>
  <% end %>
</div>
