<div style="padding-top: 54px; padding-bottom: 50px;">
  <div class="text-center">
    <h1>Let's Katchup!</h1>
  </div>
  <%= form_tag(catchups_path, method: :post, id: 'catchup_form') do %>
    <div class="text-center">
      <%= button_tag type: 'button',
                   class: 'modal-activation-button',
                   data: { toggle: 'modal', target: '#chooseFriends' },
                   id: "chosen-friends-avatars-container" do %>
        <div class="mb-3"><i class="fal fa-hand-spock"></i> Friends</div>
      <% end %>
    </div>
    <div class="text-center">
      <%= button_tag type: 'button',
                   class: 'modal-activation-button',
                   data: { toggle: 'modal', target: '#chooseSpot' },
                   id: "chosen-spot-image-container" do %>
          <div class="mb-3"><i class="fal fa-map-marker mx-1"></i> Spot</div>
      <% end %>
    </div>
    <div class="text-center">
      <%= button_tag type: 'button',
                   class: 'modal-activation-button',
                   data: { toggle: 'modal', target: '#chooseDate' },
                   id: "chosen-date-container" do %>
        <i class="fal fa-calendar mx-1"></i> Date
      <% end %>
    </div>
    <div class="text-center">
      <%= button_tag type: 'button',
                   class: 'modal-activation-button',
                   data: { toggle: 'modal', target: '#chooseTime' },
                   id: "chosen-time-container" do %>
                   <i class="fal fa-clock mr-1"></i> When?
      <% end %>
    </div>
    <div class="text-center d-flex justify-content-center">
      <%#= button_tag "Let's Katchup",
                   class: 'small-red-button',
                   disabled: 'true',
                   id: 'catchup-submit-button'%>

     <button id="catchup-submit-button" class="red-button">Let's Katchup</button>
     <div id="summaryModalButton" style='height: 0px;' data-toggle="modal" data-target="#createCatchup"></div>

    </div>
    <div class="modal fade" id="chooseFriends" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="choose-friends-title">My Friends</h5>
          </div>
          <div class="modal-body">
            <%= render "choose_friends" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="small-red-button" data-dismiss="modal">Back to Katchup</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="chooseSpot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="choose-spots-title">My Spots</h5>
          </div>
          <div class="modal-body">
            <%= render "choose_spot" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="small-red-button" data-dismiss="modal">Back to Katchup</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="chooseDate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Date</h5>
          </div>
          <div class="modal-body">
            <%= render "choose_date" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="small-red-button" data-dismiss="modal">Back to Katchup</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="chooseTime" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Time?</h5>
          </div>
          <div class="modal-body">
            <%= render "choose_time" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="small-red-button" data-dismiss="modal">Back to Katchup</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="createCatchup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Missing Info</h5>
          </div>
          <div class="modal-body">
            <%= render "done" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="small-red-button" data-dismiss="modal">Back to Katchup</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
