<%= render "shared/navbar" %>

<div style="padding-top: 54px; padding-bottom: 50px;">

  <!-- Add friends -->

  <%= link_to new_catchup_path(function: 'add_friends') do %>
    <p class="red-band-button">Add friends</p>
  <% end %>
  <% if params[:function] == 'add_friends' %>
    <div class="container" style="height: 455px; overflow: auto">
      <%= render "add_friends" %>
    </div>
  <% end %>


  <!-- Choose spot -->

  <%= link_to new_catchup_path(function: 'choose_spot') do %>
    <p class="red-band-button">Choose Spot</p>
  <% end %>
  <% if params[:function] == 'choose_spot' %>
    <div class="container" style="height: 455px; overflow: auto">
      <%= render "choose_spot" %>
    </div>
  <% end %>


  <!-- Choose Time -->

  <%= link_to new_catchup_path(function: 'choose_time') do %>
    <p class="red-band-button">Choose Time</p>
  <% end %>
  <% if params[:function] == 'choose_time' %>
    <div class="container" style="height: 455px; overflow: auto">
      <%= render "choose_time" %>
    </div>
  <% end %>

  <!-- DONE -->

  <%= link_to new_catchup_path(function: 'done') do %>
    <p class="red-band-button">DONE</p>
  <% end %>
  <% if params[:function] == 'done' %>
    <div class="container" style="height: 455px; overflow: auto">
      <%= render "done" %>
    </div>
  <% end %>


</div>

