<h1>Friend Requests</h1>

<div class="container" style="position: relative;">
  <div class="card my-2">
  <%= link_to users_path do %>
    <i class="fas fa-chevron-circle-left back-btn" style="position: absolute; font-size: 24px"></i>
  <% end %>
    <div class="card-body">
      <h5>Sent</h5>
      <% @outgoing.each do |request| %>
          <div class="card-name d-flex justify-content-between">
            <%= request.friend.full_name %>
            <%= link_to "Cancel", friend_request_path(request, user_id: request.friend.id), method: :delete %>
          </div>
      <% end %>
    </div>
  </div>
  <% if @incoming.count > 0 %>
    <div class="card my-2">
      <div class="card-body">
        <h5>From</h5>
        <% @incoming.each do |request| %>
          <div class="card-name d-flex justify-content-between">
            <%= request.user.full_name %>
            <%= link_to "Accept", friend_request_path(request), method: :put %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
