<%= render "shared/navbar" %>

<div class="container">

  <h1>Discover</h1>

  <br>

  <% @spots.each do |spot| %>
    <div class="restaurant-card">

      <!-- Image -->

      <div class=restaurant-image>
        <%= image_tag("#{spot.image}")%>
      </div>

      <div class="restaurant-details">

        <div class="restaurant-name">
          <%= spot.name %>
        </div>

        <div class=restaurant-location>
          <%#= spot.location[0..20] %>
        </div>

        <div class=restaurant-description>
          <%= "#{spot.description[0..20]}..." %>
        </div>
      </div>

        <!-- Icons -->

      <% if user_signed_in? %>
        <div class="heart-icon" id="<%= spot.id %>" >
          <%= render 'favourites/favourites_heart', spot: spot %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
