<%= render "shared/navbar" %>
<<<<<<< HEAD
  <!-- Search bar -->

  <div class="grey-search-bar" style="padding-top: 70px;">
      <%= form_tag(lists_path, method: :get, remote: true) do %>
        <form class="form-inline search-bar" >
          <div>
            <%= text_field_tag :search, params[:search], class: "search-bar",
=======
<h1>Discover</h1>
<!-- Search bar -->
<div class="grey-search-bar">
  <%= form_tag(discover_index_path, method: :get, remote: true) do %>
    <form class="form-inline search-bar" >
      <div>
        <%= text_field_tag :search, params[:search], class: "search-bar",
>>>>>>> 681da4039410e8582664c3ab0c438167e0c3c79f
            placeholder: "Search"%>
      </div>
    </form>
  <% end %>
</div>
<div id="spots-discover" class="spots-discover">
  <% @spots.each do |spot| %>
    <%= render'search_result', spot: spot %>
  <% end %>
</div>
</div>