<%= render "shared/navbar" %>
<h1>Discover</h1>
<!-- Search bar -->
<div class="grey-search-bar">
  <%= form_tag(search_index_path, method: :get, remote: true) do %>
    <%= hidden_field_tag :search_type, 'all_spots' %>
    <%= text_field_tag :search, nil, class: "search-bar", placeholder: "Search"%>
  <% end %>
</div>
<div id="search-results" class="search-results">
  <% @spots.each do |spot| %>
    <%= render'search_result', spot: spot %>
  <% end %>
</div>