<%= render "shared/navbar" %>

<%= render "lists/list_type" %>

<div class="d-flex flex-column justify-content-center">

  <% @wishlist.each do |wishlist| %>

    <div class="spot-card">

      <!-- Image -->

      <%= image_tag("#{wishlist.spot.image}")%>

      <!-- Text -->

      <div class="spot-details">

        <div class="spot-name">
          <%= wishlist.spot.name %>
        </div>

        <div class="spot-location">
          <%#= spot.location[0..20] %>
        </div>

        <div class="spot-description">
          <%= "#{wishlist.spot.description[0..20]}..." %>
        </div>
      </div>

    </div>

  <% end %>

</div>
