<!DOCTYPE html>
<html>
  <%= render 'shared/page-head' %>
  <body>
    <%= render 'shared/geolocation' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
