<!DOCTYPE html>
<html>
  <%= render 'shared/page-head' %>
  <body data-userid="<%= current_user.present? ? current_user.id : 'null' %>">
    <%= render 'shared/geolocation' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>

    <div style="padding-top: 70px;">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
