<!DOCTYPE html>
<html>
  <%= render 'shared/page-head' %>

  <body data-userid="<%= current_user.present? ? current_user.id : 'null' %>">
    <%= render 'shared/geolocation' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
